$dark:#22222b;
$light:#c8c7cc;
$title:#2a3e52;
$text:#7f7f82;

body, html {
    height:100vh;
}

body{
    font-family: 'Roboto', sans-serif;
    color: $dark;
}

.text-center{
    text-align: center;
}

.wrapper{
    max-width: 1170px;
    padding-left: 15px;
    padding-right: 15px;
    margin: 0 auto;
}

.main{
    background-image:url(../img/backgraund/bg_h.png);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: space-between;
    padding-top: 39px;
    padding-bottom: 42px;
    box-sizing: border-box;
}

.header{
    max-width: 1170px;
    padding-left: 15px;
    padding-right: 15px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;

}


.nav{
    list-style-type: none;
    padding-left: 0;
    margin: 0;
    display: flex;
    &-item{
       margin-left: 23px; 
    }
    &-link{
        color: $dark; 
        text-decoration: none;
        border-bottom: 1px solid transparent;
        transition: 0.3s;
        &:hover{
            border-bottom: 1px solid $dark;
        }
    }
}

.title-h1{
    font-size:60px;
    text-align:center;
    font-weight:300;
    color: $title;
    span{
        font-weight:500;
    }
}

.title-h2{
    font-size: 48px;
    font-weight:500;
    color: $title;
    margin-top: 0;
}

.title-h3{
    font-size: 22px;
    font-weight:400;
    color: $title;
    margin-top: 0;
}

.after-title{
    font-size: 16px;
    color: $text;
}

.btn-scroll{
    background-color: transparent;
    border: none;
    display: block;
    margin: 0 auto;


}

.section-about{
    padding-top: 20px;
    .title-h2{
        margin-bottom: 20px;
        margin-top: 12px;
    }
}

.box-about{
    display: flex;
    justify-content: space-between;
    align-items: center;
    
    padding-top: 200px;
    &-item{
       flex: 0 0 46%;
       min-width: 46%;
       position: relative; 

       &:first-child{
         display: flex;
         justify-content: flex-end;
         flex: 0 0 50%;  
         max-width: 50%;
       }
    }
    &_back{
       position: absolute; 
       z-index: -1;
       left: 0;
       top: -108px;
    }
    &_vertical{
       position: absolute;
       left: 0;
       writing-mode: vertical-lr;
       transform: rotate(180deg);
       bottom: 1px;
       font-size: 16px;
       &::after{
           content:"";
           display: block;
           width: 1px;
           height: 45px;
           background-color: $dark;
           position: absolute;
           right: 9px;
           top: 93px;

       }
    }
    &_text{
        color: $text;
        font-size: 16px;
        line-height: 25px;
        margin-bottom: 48px;
    }
    .progress-bar{        
        &-text{
            font-size: 16px;
            font-weight: 500;
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-bottom: 21px;
            &last-child{
                margin-bottom: 0px;  
            }
            }
        &-line{
          width: 100%;
          height: 3px;
          background-color: $dark;
          position: relative;
          
           &::before{
               content:"";
               background-image:url(../img/circle.png);
               background-repeat: no-repeat;            
               display: block;
               width: 10px;
               height: 11px;
               position: absolute;
               left: 0;
               top: calc(50%-5.5px);           

           }
           &::after{
               content: "";
               position: absolute;
               right: 0;
               display: block;
               height: 3px;
               background-color: #f2f2f2;
           }
        }
        &--js{
            &::after{
                width: 35%;
            }
        }
    }

    .section-services{
        background-color: $light;
		  color: #2a3e52;
    }

    .service{
        display: grid;
        grid-template:1fr 1fr/1fr 1fr 1fr ;
    }
    

